header {
  position: relative;
  display: flex;
  justify-content: center;
  background: $lightblue;
  width: 100%;
  padding: 6px 0;
  margin-bottom: 20px;
  border-radius: 0 0 8px 0;

  .title {
    font-weight: 700;
    font-size: 30px;
  }

  .star-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}
