.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $lightblue;
  min-width: 330px;
  padding: 15px 50px;
  margin: 0 15px;
  border-radius: 12px 0;
  box-shadow: 0 0 20px rgba($color: $black, $alpha: 0.25);
  transition: background 0.1s ease-in;

  .already-fav {
    width: 100%;
    background: rgba($color: $red, $alpha: 0.8);
    text-align: center;
    margin-bottom: 10px;
    border-radius: 4px 0;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .city {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 11px;
    width: fit-content;

    .star-button {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(120%, -50%);
    }
  }

  .condition {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-bottom: 18px;

    img {
      width: 40px;
      margin-right: 10px;
    }
  }

  .heats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    .heat {
      font-size: 55px;
    }

    .min-max {
      display: flex;
      justify-content: center;
      font-size: 20px;
      .min {
        margin-right: 11px;
      }
    }
  }

  .arrow-down {
    display: flex;
    justify-content: center;
  }

  // Caché de base
  .more {
    margin-top: 20px;
    height: 120px;
    overflow: hidden;
    transition: height $transitionOpenCard ease-out;
  }
  .hidden {
    height: 0px;
  }
}
